.notification {
  position: absolute;
  width: 22rem;
  height: 4rem;
  background: #ffffff;
  border-radius: 0.3rem;
}
.notification-date-badge {
  position: absolute;
  width: 4.188rem;
  height: 1rem;
  left: 0rem;
  top: 0rem;
  background: #000000;
  border-radius: 0rem 0rem 0.3rem 0rem;
}

.notification-message {
  position: absolute;
  height: 19px;
  right: 118px;
  top: 24px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  mix-blend-mode: normal;
}

.notification-date {
  position: absolute;
  width: 48px;
  height: 12px;
  left: 10px;
  top: 2px;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;

  color: #ffffff;
}
