body{
  background-color: black;
}

div.NotificationDisplay {
  margin-left: auto;
  margin-right: 2vh;
  width: 22rem;
  margin-top: 2vh;
}

div.toast-body{
  text-align: center;
}

span.badge.badge-secondary{
  margin-left: 0.6vh;
}
